<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MJU | HEMP RESEARCH</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="mju-logo2.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Topbar Start -->
    <div class="container-fluid px-5 d-none d-lg-block">
      <div class="row gx-5 py-0 align-items-center">
        <div class="col-lg-3">
          <div class="d-flex align-items-center justify-content-start">
            <img class= " mx-auto d-block w-50" src="logo_hmju.png" alt="">
         
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex align-items-center justify-content-center">
            <a href="/" class="navbar-brand ms-lg-5">
              <h6 class="m-0 display-4 text-primary fs-3 fw-bold">
                <span class="text-secondary ">MJU | </span>HEMP RESEARCH AND
                DEVELOPMENT CENTER
              </h6>
              <h4 class="m-0 display-4 text-primary fs-4 text-center mt-2">
                <span class="text-secondary">ศูนย์ทดสอบ วิจัยและพัฒนากัญชง มหาวิทยาลัยแม่โจ้
              </h4>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="d-flex align-items-center justify-content-end">
            <button onclick="location.href='/login'" type="button" class="btn btn-primary custom-font mx-3" style="border-radius: 25px;"><i class="fa fa-user "></i
              > เข้าสู่ระบบ</button>
            <a href="tel: +66" target="_blank" class="btn btn-primary btn-square rounded-circle me-2" href="#"
              ><i class="fa fa-phone"></i
            ></a>
            <a  href="https://www.facebook.com/hrdc.mju" target="_blank"class="btn btn-primary btn-square rounded-circle me-2" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <!-- <a class="btn btn-primary btn-square rounded-circle me-2" href="#"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-primary btn-square rounded-circle" href="#"
              ><i class="fab fa-instagram"></i
            ></a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5"
    >
      <a href="/" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary">
          <span class="text-white">Hemp Center </span>| MJU
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
          <a href="/" class="nav-item nav-link active">หน้าแรก</a>
          <a href="/about" class="nav-item nav-link">เกี่ยวกับเรา</a>
          <a href="/news" class="nav-item nav-link">ข่าวสาร</a>
          <a href="/organize" class="nav-item nav-link">โครงสร้างการบริหาร</a>
          <a href="/content" class="nav-item nav-link">สาระน่ารู้</a>
          <a href="/calendar" class="nav-item nav-link">ปฏิทิน</a>
          <a href="/shop" class="nav-item nav-link">ร้านค้า</a>
          <a href="/contact" class="nav-item nav-link">ติดต่อเรา</a>
          <!-- <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Pages</a
            >
            <div class="dropdown-menu m-0">
              <a href="blog.html" class="dropdown-item">Blog Grid</a>
              <a href="detail.html" class="dropdown-item">Blog Detail</a>
              <a href="feature.html" class="dropdown-item">Features</a>
              <a href="team.html" class="dropdown-item">The Team</a>
              <a href="testimonial.html" class="dropdown-item">Testimonial</a>
            </div>
          </div> -->
       
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
      <div
        id="header-carousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="h-25" src="carousel-1.png" alt="image" />
            <div
              class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="text-start p-5" style="max-width: 900px">
                <h3 class="text-green">มหาวิทยาลัยแม่โจ้</h3>
                <h1 class="display-1 text-white mb-md-4">
                  ศูนย์ทดสอบ วิจัยและพัฒนากัญชง
                </h1>
              
                <a href="/about" class="btn btn-secondary py-md-3 px-md-5 custom-font">เกี่ยวกับเรา</a>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <img class="w-100" src="carousel-2.jpg" alt="Image" />
            <div
              class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="text-start p-5" style="max-width: 900px">
                <h3 class="text-white">Organic Fruits</h3>
                <h1 class="display-1 text-white mb-md-4">
                  Organic Fruits For Better Health
                </h1>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3"
                  >Explore</a
                >
                <a href="" class="btn btn-secondary py-md-3 px-md-5">Contact</a>
              </div>
            </div>
          </div> -->
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- Banner Start -->
    <div class="container-fluid banner mb-5">
      <div class="container">
        <div class="row gx-0">
          <div class="col-md-6">
            <div
              class="bg-primary bg-vegetable d-flex flex-column justify-content-center p-5"
              style="height: 300px"
            >
              <h3 class="text-white mb-3">CBD กับการนำมาใช้ในการรักษาโรค</h3>
              <p class="text-white">
                CBD สามารถนำไปรักษาโรคเบาหวานชนิดที่ 2 ได้ ทั้งยังช่วยลดอาการอักเสบในร่างกาย ลดการอุดตันของเส้นเลือดที่ไปหล่อเลี้ยงหัวใจ บรรเทาอาการเจ็บปวดเรื้อรังและลดอาการคลื่นไส้หลังการทำเคมีบำบัดจากโรคมะเร็ง บรรเทาอาการของโรค ALS หรือกล้ามเนื้ออ่อนแรง บรรเทาอาการพาร์์กิินสััน (อาการสั่น) เป็นต้น
              </p>
              <a class="text-white fw-bold" href=""
                >อ่านต่อ<i class="bi bi-arrow-right ms-2"></i
              ></a>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="bg-secondary bg-fruit d-flex flex-column justify-content-center p-5"
              style="height: 300px"
            >
              <h3 class="text-white mb-3">กัญชากับกัญชงต่างกันอย่างไร ?</h3>
              <p class="text-white">
                สิ่งที่แตกต่างกันระหว่างกัญชงและกัญชาก็คือปริมาณสาร THC ซึ่งมีฤทธิ์ต่อจิตประสาท ทำให้เกิดอาการเคลิ้มและง่วง หรือที่เรียกกันว่า “เมากัญชา” ในกัญชงมีปริมาณน้อยกว่า รวมถึงลักษณะของเส้นใยกัญชงที่มักจะนำมาใช้ในอุตสาหกรรมสิ่งทอต่าง ๆ
              </p>
              <a class="text-white fw-bold" href=""
                >อ่านต่อ<i class="bi bi-arrow-right ms-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Start -->

    <!-- About Start -->
    <div class="container-fluid about pt-5">
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div
              class="d-flex h-auto border border-5 border-primary"
            >
              <img class="img-fluid mt-auto mx-auto" src="about.jpg" />
            </div>
          </div>
          <div class="col-lg-6 pb-5">
            <div class="mb-3 pb-2">
              <h6 class="text-primary text-uppercase">เกี่ยวกับเรา</h6>
              <h1 class="display-5">เรามีเป้าหมายที่จะเป็นระบบนิเวศ (Ecosystem) เพื่อสนับสนุนอุตสาหกรรมกัญชงของประเทศ</h1>
            </div>
            <p class="mb-4">
              
สำหรับ ศูนย์ทดสอบ วิจัยและพัฒนา กัญชงอุตสาหกรรม มหาวิทยาลัยแม่โจ้ มีเป้าหมายที่จะเป็นระบบนิเวศ (Ecosystem) เพื่อสนับสนุนอุตสาหกรรมกัญชงของประเทศ โดยมีวัตถุประสงค์เพื่อทดสอบสภาวะแวดล้อม และปัจจัยการผลิตที่มีอิทธิพลต่อการเจริญเติบโตและการให้ผลผลิตของกัญชงสายพันธุ์ต่างประเทศ ตาม SOP แต่ละสายพันธุ์ พัฒนาต้นแบบการผลิตกัญชาอุตสาหกรรมที่ทำการผลิตในโรงเรือน (green house) โรงเรือนปรับอากาศ (evaporation green house) และผลิตกลางแจ้ง (open field) พัฒนาชุดองค์ความรู้ในด้าน การปลูก การดูแล ปัจจัยการผลิต การเก็บเกี่ยว และความคุ้มค่า
            </p>
            <!-- <div class="row gx-5 gy-4">
              <div class="col-sm-6">
                <i class="fa fa-seedling display-1 text-secondary"></i>
                <h4>100% Organic</h4>
                <p class="mb-0">
                  Labore justo vero ipsum sit clita erat lorem magna clita
                  nonumy dolor magna dolor vero
                </p>
              </div>
              <div class="col-sm-6">
                <i class="fa fa-award display-1 text-secondary"></i>
                <h4>Award Winning</h4>
                <p class="mb-0">
                  Labore justo vero ipsum sit clita erat lorem magna clita
                  nonumy dolor magna dolor vero
                </p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
    <div class="container-fluid bg-primary facts py-5 mb-5">
      <div class="container py-5">
        <div class="row gx-5 gy-4">
          <div class="col-lg-3 col-md-6">
            <div class="d-flex">
              <div
                class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-star fs-4 text-white"></i>
              </div>
              <div class="ps-4">
                <h5 class="text-white">คณะผู้จัยและพัฒนา</h5>
                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">
                  18 
                </h1>
                
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex">
              <div
                class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-mug-hot fs-4 text-white"></i>
              </div>
              <div class="ps-4">
                <h5 class="text-white">โรงเรือนปรับอากาศ</h5>
                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">
                  20
                </h1>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex">
              <div
                class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-check fs-4 text-white"></i>
              </div>
              <div class="ps-4">
                <h5 class="text-white">พื้นที่โครงการ</h5>
                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">
                  250
                </h1>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex">
              <div
                class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-users fs-4 text-white"></i>
              </div>
              <div class="ps-4">
                <h5 class="text-white">เกษตรกร</h5>
                <h1 class="display-5 text-white mb-0" data-toggle="counter-up">
                  1300
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facts End -->

    <!-- Services Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-4 col-md-6">
            <div class="mb-3">
              <h6 class="text-primary text-uppercase">ร้านค้า</h6>
              <h1 class="display-6">ศูนย์จำหน่ายผลิตภัณฑ์จากการวิจัยและพัฒนา</h1>
            </div>
            <p class="mb-4">
              รวมถึงเป็นการสร้างเครือข่ายความร่วมมือในการทำงานด้านกัญชงอุตสาหกรรมครบวงจรระหว่างทั้งภาครัฐ เอกชนและต่างประเทศ ที่ให้การสนับสนุนในด้านต่างๆที่เกี่ยวข้อง 
            <a href="/shop" class="mt-4 btn btn-primary py-md-3 px-md-5 custom-font">เลือกซื้อ</a>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item bg-light text-center p-5">
              <i class="fa fa-leaf display-1 text-primary mb-3"></i>
              <h4>ใบกัญชง</h4>
              <p class="mb-0">
               สรรพคุณเป็นยาบำรุงโลหิต ช่วยทำให้รู้สึกผ่อนคลาย สดชื่น ช่วยให้นอนหลับสบาย ช่วยรักษาอาการวิงเวียนศีรษะ ปวดศีรษะหรือไมเกรน
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item bg-light text-center p-5">
              <i class="fa fa-seedling display-1 text-primary mb-3"></i>
              <h4>ต้นอ่อนกัญชง</h4>
              <p class="mb-0">
                ช่วยลดระดับความเสี่ยงของการเกิดโรคหัวใจและโรคหลอดเลือด ช่วยลดการเกาะตัวของเกร็ดเลือดทำให้เกิดลิ่มเลือดอุดตันได้ยากขึ้น
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item bg-light text-center p-5">
              <i class="fa fa-tablets display-1 text-primary mb-3"></i>
              <h4>สารสกัดจากกัญชง</h4>
              <p class="mb-0">
                สาร CBD (Cannabidiol) และ THC (Tetrahydrocannabinol) จัดเป็นสารในกลุ่มคานนาบินอยด์ (Cannabinoids)
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item bg-light text-center p-5">
              <i class="fas fa-cookie display-1 text-primary mb-3"></i>
              <h4>เมล็ดกัญชง</h4>
              <p class="mb-0">
                เมล็ดใช้เป็นอาหารของคนและนก ซึ่งจากการศึกษาพบว่า ในน้ำมันจากเมล็ดนั้นมีโอเมก้า 3 สูงมาก นอกจากนี้ยังมีโอเมก้า 6, โอเมก้า 9
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item bg-light text-center p-5">
              <i class="fa fa-book display-1 text-primary mb-3"></i>
              <h4>แหล่งเรียนรู้ครบวงจร</h4>
              <p class="mb-0">
                ให้องค์ความรู้เกี่ยวกับพืชกัญชาและกัญชง ในเรื่อง ลักษณะของกัญชากัญชง การนำไปใช้ประโยชน์ การปลูกพืชกัญชา
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services End -->

    <!-- Features Start -->
    <!-- <div class="container-fluid bg-primary feature py-5 pb-lg-0 my-5">
      <div class="container py-5 pb-lg-0">
        <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px">
          <h6 class="text-uppercase text-secondary">Features</h6>
          <h1 class="display-5 text-white">Why Choose Us!!!</h1>
        </div>
        <div class="row g-5">
          <div class="col-lg-3">
            <div class="text-white mb-5">
              <div
                class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-seedling fs-4 text-white"></i>
              </div>
              <h4 class="text-white">100% Organic</h4>
              <p class="mb-0">
                Labore justo vero ipsum sit clita erat lorem magna clita
              </p>
            </div>
            <div class="text-white">
              <div
                class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-award fs-4 text-white"></i>
              </div>
              <h4 class="text-white">Award Winning</h4>
              <p class="mb-0">
                Labore justo vero ipsum sit clita erat lorem magna clita
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
              <p>
                At et justo elitr amet sea at. Magna et sit vero at ipsum sit et
                dolores rebum. Magna sea eos sit dolor, ipsum amet no tempor
                ipsum eirmod lorem eirmod diam tempor dolor eos diam et et diam
                dolor ea. Clita est rebum amet dolore sit. Dolor stet dolor duo
                clita, vero dolor ipsum amet dolore magna lorem erat stet sed
                vero dolor
              </p>
              <img class="img-fluid" src="feature.png" alt="" />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-white mb-5">
              <div
                class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-tractor fs-4 text-white"></i>
              </div>
              <h4 class="text-white">Modern Farming</h4>
              <p class="mb-0">
                Labore justo vero ipsum sit clita erat lorem magna clita
              </p>
            </div>
            <div class="text-white">
              <div
                class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-phone-alt fs-4 text-white"></i>
              </div>
              <h4 class="text-white">24/7 Support</h4>
              <p class="mb-0">
                Labore justo vero ipsum sit clita erat lorem magna clita
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Features Start -->

    <!-- Products Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px">
          <h6 class="text-primary text-uppercase">ผลิตภัณฑ์</h6>
          <h1 class="display-5">ผลิตภัณฑ์จากการทดลอง วิจัยและพัฒนากัญชง</h1>
        </div>
        <div class="owl-carousel product-carousel px-5">
          <div class="pb-5">
            <div
              class="product-item position-relative bg-white d-flex flex-column text-center"
            >
              <img class="img-fluid mb-4 topbar" src="product-1.webp" alt="" />
              <h6 class="mb-3">ใบกัญชงสด</h6>
              <h5 class="text-primary mb-0">2,500 บาท/กิโลกรัม</h5>
              <div class="btn-action d-flex justify-content-center">
                <a class="btn bg-primary py-2 px-3" href=""
                  ><i class="bi bi-cart text-white"></i
                ></a>
                <a class="btn bg-secondary py-2 px-3" href=""
                  ><i class="bi bi-eye text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <div
              class="product-item position-relative bg-white d-flex flex-column text-center"
            >
              <img class="img-fluid mb-4 topbar" src="product-2.png" alt="" />
              <h6 class="mb-3">รากกัญชงแห้ง</h6>
              <h5 class="text-primary mb-0">800 บาท/กิโลกรัม</h5>
              <div class="btn-action d-flex justify-content-center">
                <a class="btn bg-primary py-2 px-3" href=""
                  ><i class="bi bi-cart text-white"></i
                ></a>
                <a class="btn bg-secondary py-2 px-3" href=""
                  ><i class="bi bi-eye text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <div
              class="product-item position-relative bg-white d-flex flex-column text-center"
            >
              <img class="img-fluid mb-4 topbar" src="product-3.webp" alt="" />
              <h6 class="mb-3">ช่อดอกแห้ง</h6>
              <h5 class="text-primary mb-0">5,000 บาท/กิโลกรัม</h5>
              <div class="btn-action d-flex justify-content-center">
                <a class="btn bg-primary py-2 px-3" href=""
                  ><i class="bi bi-cart text-white"></i
                ></a>
                <a class="btn bg-secondary py-2 px-3" href=""
                  ><i class="bi bi-eye text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <div
              class="product-item position-relative bg-white d-flex flex-column text-center"
            >
              <img class="img-fluid mb-4 topbar" src="product-4.png" alt="" />
              <h6 class="mb-3">เมล็ดกัญชงแห้ง</h6>
              <h5 class="text-primary mb-0">1,000 บาท/กิโลกรัม</h5>
              <div class="btn-action d-flex justify-content-center">
                <a class="btn bg-primary py-2 px-3" href=""
                  ><i class="bi bi-cart text-white"></i
                ></a>
                <a class="btn bg-secondary py-2 px-3" href=""
                  ><i class="bi bi-eye text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <div
              class="product-item position-relative bg-white d-flex flex-column text-center"
            >
              <img class="img-fluid mb-4 topbar" src="product-2.png" alt="" />
              <h6 class="mb-3">รากกัญชงแห้ง</h6>
              <h5 class="text-primary mb-0">800 บาท/กิโลกรัม</h5>
              <div class="btn-action d-flex justify-content-center">
                <a class="btn bg-primary py-2 px-3" href=""
                  ><i class="bi bi-cart text-white"></i
                ></a>
                <a class="btn bg-secondary py-2 px-3" href=""
                  ><i class="bi bi-eye text-white"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Products End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px">
          <h6 class="text-primary text-uppercase">คณะผู้จัยและพัฒนา</h6>
          <h1 class="display-5">เราคือคณะนักวิจัยและพัฒนากัญชง มหาวิทยาลัยแม่โจ้</h1>
        </div>
        <div class="row g-5">
          <div class="col-lg-4 col-md-6">
            <div class="row g-0">
              <div class="col-10">
                <div class="position-relative">
                  <img class="img-fluid w-100" src="team-1.png" alt="" />
                  <div
                    class="position-absolute start-0 bottom-0 w-100 py-3 px-4"
                    style="background: rgba(52, 173, 84, 0.85)"
                  >
                    <h4 class="text-white">Farmer Name</h4>
                    <span class="text-white">Designation</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div
                  class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5"
                >
                  <!-- <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-twitter text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-facebook-f text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-linkedin-in text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-instagram text-secondary"></i
                  ></a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="row g-0">
              <div class="col-10">
                <div class="position-relative">
                  <img class="img-fluid w-100" src="team-2.png" alt="" />
                  <div
                    class="position-absolute start-0 bottom-0 w-100 py-3 px-4"
                    style="background: rgba(52, 173, 84, 0.85)"
                  >
                    <h4 class="text-white">Farmer Name</h4>
                    <span class="text-white">Designation</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div
                  class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5"
                >
                  <!-- <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-twitter text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-facebook-f text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-linkedin-in text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-instagram text-secondary"></i
                  ></a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="row g-0">
              <div class="col-10">
                <div class="position-relative">
                  <img class="img-fluid w-100" src="team-3.png" alt="" />
                  <div
                    class="position-absolute start-0 bottom-0 w-100 py-3 px-4"
                    style="background: rgba(52, 173, 84, 0.85)"
                  >
                    <h4 class="text-white">Farmer Name</h4>
                    <span class="text-white">Designation</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div
                  class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5"
                >
                  <!-- <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-twitter text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-facebook-f text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-linkedin-in text-secondary"></i
                  ></a>
                  <a class="btn btn-square rounded-circle bg-white" href="#"
                    ><i class="fab fa-instagram text-secondary"></i
                  ></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px">
          <h6 class="text-primary text-uppercase">ติดตามข่าวสาร</h6>
          <h1 class="display-5">ใหม่ทุกวัน! จากบทความสาระความรู้สู่เกษตรกรยุคใหม่</h1>
        </div>
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="blog-item position-relative overflow-hidden">
              <img class="img-fluid" src="blog-1.jpg" alt="" />
              <a class="blog-overlay" href="">
                <h4 class="text-white">
                  สำนักวิจัยฯ มหาวิทยาลัยแม่โจ้ให้การต้อนรับ นักศึกษา คณาจารย์ และเจ้าหน้าที่ของคณะบริหารธุรกิจ มหาวิทยาลัยเชียงใหม่ ในการเข้าศึกษาดูงานเกี่ยวกับกัญชง ตั้งแต่กระบวนการปลูก การเก็บเกี่ยว
                </h4>
                <span class="text-white fw-bold">Jan 01, 2050</span>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item position-relative overflow-hidden">
              <img class="img-fluid" src="blog-2.jpg" alt="" />
              <a class="blog-overlay" href="">
                <h4 class="text-white">
                  สำนักวิจัยฯ มหาวิทยาลัยแม่โจ้ ต้อนรับคณะดูงานจาก สถาบันส่งเสริมและพัฒนากิจกรรมปิดทองหลังพระ สืบสานแนวพระราชดำริ จำนวน 4 คน โดยมี ผู้ช่วยศาสตราจารย์พาวิน มะโนชัย รองอธิการบดีมหาวิทยาลัยแม่โจ้
                </h4>
                <span class="text-white fw-bold">Jan 01, 2050</span>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item position-relative overflow-hidden">
              <img class="img-fluid" src="blog-3.jpg" alt="" />
              <a class="blog-overlay" href="">
                <h4 class="text-white">
                  ผู้ช่วยศาสตราจารย์พาวิน มะโนชัย รองอธิการบดี รองศาสตราจารย์ ดร.อภินันท์ สุวรรณรักษ์ ผู้อำนวยการการสำนักวิจัยฯ ผู้ช่วยศาสราจารย์ ดร.ตะวัน ฉัตรสูงเนิน รองผู้อำนวยการสำนักวิจัยฯ
                </h4>
                <span class="text-white fw-bold">Jan 01, 2050</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-footer bg-primary text-white mt-5">
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-8 col-md-6">
            <div class="row gx-5">
              <div class="col-lg-4 col-md-12 pt-5 mb-5">
                <h4 class="text-white mb-4">ติดต่อ :</h4>
                <div class="d-flex mb-2">
                  <i class="bi bi-geo-alt text-white me-2"></i>
                  <p class="text-white mb-0">151 อ.สันทราย จ.เชียงใหม่ 50210</p>
                </div>
                <div class="d-flex mb-2">
                  <i class="bi bi-envelope-open text-white me-2"></i>
                  <p class="text-white mb-0">hrdc@mju.ac.th</p>
                </div>
                <div class="d-flex mb-2">
                  <i class="bi bi-telephone text-white me-2"></i>
                  <p class="text-white mb-0">+66 </p>
                </div>
                <div class="d-flex mt-4">
                  <a
                    class="btn btn-secondary btn-square rounded-circle me-2"
                    href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-secondary btn-square rounded-circle me-2"
                    href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-secondary btn-square rounded-circle me-2"
                    href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                  <a
                    class="btn btn-secondary btn-square rounded-circle"
                    href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                <h4 class="text-white mb-4">เว็บไซต์ที่เกี่ยวข้อง :</h4>
                <div class="d-flex flex-column justify-content-start">
                  <a class="text-white mb-2" href="https://www.mju.ac.th/th/"
                    ><i class="bi bi-arrow-right text-white me-2"></i>มหาวิทยาลัยแม่โจ้</a
                  >
                  <a class="text-white mb-2" href="https://libraryservices.mju.ac.th/mjudc/"
                    ><i class="bi bi-arrow-right text-white me-2"></i>ฐานข้อมูลวิทยานิพนธ์และงานวิจัย</a
                  >
                  <a class="text-white mb-2" href="http://www.education.mju.ac.th/www/"
                    ><i class="bi bi-arrow-right text-white me-2"></i>สำนักบริหารและพัฒนาวิชาการ</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                <h4 class="text-white mb-4">เมนูแบบเร่งด่วน :</h4>
                <div class="d-flex flex-column justify-content-start">
                  <a class="text-white mb-2" href="/about"
                    ><i class="bi bi-arrow-right text-white me-2"></i>เกี่ยวกับเรา</a
                  >
                  <a class="text-white mb-2" href="/news"
                    ><i class="bi bi-arrow-right text-white me-2"></i>ข่าวสาร</a
                  >
                  <a class="text-white mb-2" href="/organize"
                    ><i class="bi bi-arrow-right text-white me-2"></i>โครงสร้างการบริหาร</a
                  >
                  <a class="text-white mb-2" href="/content"
                    ><i class="bi bi-arrow-right text-white me-2"></i>สาระน่ารู้</a
                  >
                  <a class="text-white mb-2" href="/calendar"
                    ><i class="bi bi-arrow-right text-white me-2"></i>ปฏิทิน</a
                  >
                  <a class="text-white mb-2" href="/shop"
                    ><i class="bi bi-arrow-right text-white me-2"></i>ร้านค้า</a
                  >
                  <a class="text-white mb-2" href="/contact"
                    ><i class="bi bi-arrow-right text-white me-2"></i>ติดต่อเรา</a
                  >
                
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-lg-n5">
            <div
              class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5"
            >
            <h4 class="text-white">ร่วมเป็นสมาชิกกับเรา :</h4>
            <h6 class="text-white">สมัครติดตามข่าวสารทางอีเมล</h6>
            <p>เพื่อไม่พลาดสาระ งานวิจัย ความรู้ใหม่ ๆ เกี่ยวกับกัญชงในเชิงลึก ได้ในอีเมลของคุณโดยตรง</p>
              <form action="">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control border-white p-3"
                    placeholder="กรอกอีเมล"
                  />
                  <button class="btn btn-primary">สมัคร</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid bg-dark text-white py-4">
      <div class="container text-center">
        <p class="mb-0">
          &copy;
          <a class="text-secondary fw-bold" href="#"
            >MJU | HEMP RESEARCH AND DEVELOPMENT CENTER
          </a>
          <div class="text-center text-sm">
            All Rights Reserved. Designed by
            <a class="text-secondary fw-bold" href="https://htmlcodex.com"
              >Maejo University</a
            >
          </div>
        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="easing/easing.min.js"></script>
    <script src="waypoints/waypoints.min.js"></script>
    <script src="counterup/counterup.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="main.js"></script>
  </body>
</html>
